stages:
  - build
  - upload
  - release


variables:
  GO_VERSION: "1.20"
  PACKAGE_VERSION: "$CI_COMMIT_TAG"
  PACKAGE_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${PACKAGE_NAME}/${PACKAGE_VERSION}/gospy"


build_app:
  stage: build
  image: golang:${GO_VERSION}-alpine
  script:
    - apk add --no-cache gcc musl-dev make
    - go mod download
    - make build
  artifacts:
    paths:
      - gospy
  only:
    - /^v\d+\.\d+\.\d+$/

upload_to_registry:
  stage: upload
  image: curlimages/curl:latest
  script:
    - echo "Uploading gospy to GitLab Package Registry"
    - |
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file gospy "${PACKAGE_URL}"
  dependencies:
    - build_app
  only:
    - /^v\d+\.\d+\.\d+$/

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo "Creating GitLab release with link to the uploaded package"
  release:
    name: "Release $CI_COMMIT_TAG"
    description: |
      New release $CI_COMMIT_TAG of gospy.
    tag_name: "$CI_COMMIT_TAG"
    assets:
      links:
        - name: "gospy binary"
          url: "${PACKAGE_URL}"
          filepath: "/packages/generic/${PACKAGE_NAME}/${PACKAGE_VERSION}/gospy"
          link_type: "other"
  dependencies:
    - upload_to_registry
  only:
    - /^v\d+\.\d+\.\d+$/
