# Указываем stages для пайплайна
stages:
  - build
  - upload
  - release

# Переменные для Go и Docker
variables:
  GO_VERSION: "1.20"
  CGO_ENABLED: "0"
  GOOS: "linux"
  GOARCH: "amd64"
  PACKAGE_NAME: "gospy"
  PACKAGE_VERSION: "$CI_COMMIT_TAG"
  PACKAGE_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${PACKAGE_NAME}/${PACKAGE_VERSION}/gospy"

# Job для сборки Go-приложения в статический бинарник
build_app:
  stage: build
  image: golang:${GO_VERSION}-alpine
  script:
    - apk add --no-cache gcc musl-dev
    - go mod download
    - go build -ldflags="-s -w" -o gospy
  artifacts:
    paths:
      - gospy
  only:
    - /^v\d+\.\d+\.\d+$/

# Job для загрузки бинарника в GitLab Package Registry
upload_to_registry:
  stage: upload
  image: curlimages/curl:latest
  script:
    - echo "Uploading gospy to GitLab Package Registry"
    - |
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file gospy "${PACKAGE_URL}"
  dependencies:
    - build_app
  only:
    - /^v\d+\.\d+\.\d+$/

# Job для создания релиза в GitLab с добавлением ссылки на бинарник в Assets
release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo "Creating GitLab release with link to the uploaded package"
  release:
    name: "Release $CI_COMMIT_TAG"
    description: |
      New release $CI_COMMIT_TAG of gospy.
    tag_name: "$CI_COMMIT_TAG"
    assets:
      links:
        - name: "gospy binary"
          url: "${PACKAGE_URL}"
          filepath: "/packages/generic/${PACKAGE_NAME}/${PACKAGE_VERSION}/gospy"
          link_type: "other"
  dependencies:
    - upload_to_registry
  only:
    - /^v\d+\.\d+\.\d+$/
