name: Pull Request Checks

on:
  pull_request:
    branches: [main]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23.3'

      - name: Cache Go Modules
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Download Dependencies
        run: make download-deps

      - name: Run Tests with Coverage
        run: |
          make test
          go test -coverprofile=coverage.out ./...

      - name: Upload Coverage Artifact
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: coverage.out

  update-coverage-badge:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Download Coverage Artifact
        uses: actions/download-artifact@v3
        with:
          name: coverage-report

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Generate Badge
        uses: tj-actions/coverage-badge-go@v2
        with:
          filename: coverage.out

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore: Update coverage badge"
          file_pattern: README.md
          branch: ${{ github.head_ref }}